[submodule "Heap/third-party/googletest"]
	path = Heap/third-party/googletest
	url = https://github.com/google/googletest.git

[submodule "SplayTree/third-party/googletest"]
	path = SplayTree/third-party/googletest
	url = https://github.com/google/googletest.git	